.light-bg{
    background-color: azure;
}

.light-mode-text{
    color: rgb(24,24,24);
}

.light-mode-card:hover{
    background-color:rgb(255, 230, 255);
}

.header-light{
    background-color: rgb(238, 130, 238);
    color: black;
}

.logo-light{
    color: black;
}
